extend layout

block content
  h2.create-label Create New Task

  if show
    div.create-message Your Task was successfully added.

  form.form(method="post" action="/tasks/create")
    label.create-label(for="title" ) Title
    input.create-title(type="text" name="title" id="title" placeholder="Name of the task")

    label.create-label(for="body") Body
    textarea.create-body(name="details" id="body" rows="10" placeholder="Task" )

    input.create-btn(type="submit" value="Create task")
