extend layout

block content
  h2 Create New Task

  if show
    div.create-message Your Task was successfully added.
  
  form(method="post" action="/tasks/create")
    label.create-label(for="title") Title
    input(type="text" name="title" id="title")

    label.create-body(for="body") Body
    textarea(name="details" id="body" rows="10")

    input.create-btn(type="submit" value="Create task")
