doctype html
html
  head
    title Hey
    link(rel='stylesheet' type='text/css' href='/assets/styles/styles.css')
  body.page-create
    header
      h1
        a(href='/') To Do App
      ul.main-list
        li.main-list--item
          a(href='/tasks') All Tasks
        li.main-list--item
          a(href='/Login') Login
        li.main-list--item
          a(href='/signUp') Sign Up

    main
      block content