doctype html
html
  head
    title ToDoApp
    link(rel='stylesheet' type='text/css' href='/assets/styles/styles.css')
  body.page-create
    header
      
      h1  
        a.icon(href='/')
          img.icon(src="/assets/images/todo.png")
        a.title(href='/') To Do App
           
      ul.main-list
        li.main-list--item
          a(href='/tasks') All Tasks
        li.main-list--item
          a.signup(href='/signUp') Sign Up
        li.login
          a(href='/Login') Login

    main
      block content