extend layout

block content
 div.container
  form.form(method="post" action="/")
    label.create-label(for="email" )  E-Mail
    input.create-input(type="email" name="email" id="email" placeholder="email" required)

    label.create-label(for="password") Password
    input.create-input(type="password" name="password" id="password" placeholder="Password" required )

    input.create-btn(type="submit" value="Login")

